*{
	box-sizing: border-box;
}

body{
	background: #F22613;
	width: 80%;
	align-self: center;
}
#app-container{
	width: 80%;
	align-self: center;
}
$txt-color: #F7CA18;

h2{
	color: $txt-color;
}

.container-div {
	background-color: #fff;
	align-left: auto;
	align-right: auto;
}
